@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Shadows+Into+Light|Special+Elite');

body {
    background: rgb(158, 216, 247);
    margin: 0;
    overflow: hidden;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

#userInput {
    position: fixed;
    display: none;
    width: 50vw;
    height: 10vh;
    left: 25vw;
    bottom: 10vh;
    text-align: center;
    font-size: xx-large;
    font-family: 'Noto Sans JP', sans-serif;
    color: #000033;
    border: #3A5683 5px solid;
    border-radius: 10px;
    background-color: #95AED6;
    z-index: 100;
}

#gameTitle {
    position: fixed;
    font-size: 10vw;
    font-family: 'Shadows Into Light', cursive;
    width: 100vw;
    height: 500px;
    top: calc(50vh - 250px);
    text-align: center;
    user-select: none;
    color: black;
    z-index: 99;
    animation: goWhite 2s ease-out 0s forwards paused
}

@keyframes goWhite {
  0% {
    top: calc(50vh - 250px);
    font-size: 10vw;
    color: black;
  }
  100% {
    top: 0;
    font-size: 7vw;
    color: white;
  }
}

h2 {
    position: fixed;
    font-size: 5vw;
    font-family: 'Shadows Into Light', cursive;
    width: 100vw;
    bottom: 10vh;
    text-align: center;
    user-select: none;
    color: black;
}

.screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

#titleScreen {
    display: block;
}

#optionsScreen {
    opacity: 0;
    top: 0;
    background: #000066;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    animation: visible 1s ease-out 0s forwards paused;
    justify-content: center;
    align-items: center;
    display: none;
}

#notPossibleMessage {
    background: rgba(150, 0, 0, 100);
    display: none;
    font-size: xx-large;
    position: fixed;
    width: 200px;
    height: 150px;
    top: calc(50vh - 75px);
    left: calc(50vw - 100px);
    opacity: 1;
    pointer-events: none;
    animation: vanish 2s linear 200ms forwards
}

@keyframes vanish {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.operationBtn {
    font-family: "Noto Sans JP", sans-serif;
    font-size: x-large;
    background: deepskyblue;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.operationBtn:hover {
    background: #00ffff;
}

.selected {
    background: gold !important;
}

.specificOptions {
    min-width: 50vw;
    background: #95AED6;
    color: black;
    padding: 20px;
    font-size: x-large;
}

#additionOptions {
    display: none;
}

.numInput {
    font-size: x-large;
    border: 3px inset #3A5683;
}

#menuScreen {
    position: fixed;
    display: none;
    background: #111133;
    top: 0;
    color: white;
    opacity: 0;
    animation: appear 2s ease-out 0s forwards paused;
}

#instructions {
    margin-top: 40vh;
}

#deathScreen {
    background: black;
    opacity: 0;
    top: 0;
    animation: show 2s ease-out 0s forwards paused;
    color: red;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: 'Special Elite', cursive;
    font-size: 4vw;
    max-font-size: 20px;
}

#victoryScreen {
    background: darkturquoise;
    color: black;
    opacity: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    animation: emerge 2s ease-out 0s forwards paused;
    font-family: 'Shadows Into Light', cursive;
}

#startInstruction {
    font-size: 25px;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}

@keyframes emerge {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}

@keyframes visible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}